---
layout: default
title: Team
permalink: /our_team/
---
<section id="team">
  <div class="container-fluid">
    <h1>Our Team</h1> {% for grp in site.data.team %}

    <h2 id="{{ forloop.index }}" class="group">{{ grp.group }}</h2>
    <div class="flex-container">
      {% for member in grp.members %}
      <div class="flex-element">
        <img src="{{ member.profile_pic }}" alt="{{ member.name }}" class="image">
        <p class="name">{{ member.name }}</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</section>
