<section id="apply">
  <div class="container-fluid">
    <h2 id="apply_title">APPLY NOW</h2>
    <div class="flex-container wow animated bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
      {% for ap in site.data.apply %}
      <div class="flex-element">
        <h2 class="for">{{ ap.for }}</h2>
        <img src="{{ ap.image }}" alt="{{ ap.for }}">
        <p class="info">{{ ap.info }}</p>
        <a  class="btn btn-default" href="{{ ap.link }}" target="_blank">{{ ap.text }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
