<section id="banner">
  <div class="android_app">
    <a href="https://play.google.com/store/apps/details?id=com.jecrcmun.admin.mun2k18" target="_blank">
       <img src="/assets/img/android.png" alt="android">
    </a>
  </div>
  <div class="itinerary_icon">
    <a href="/itinerary/" >
       <img src="/assets/img/it.png" alt="itinerary">
    </a>
  </div>
  <div class="banner">
    <div class="tag center-block">
      <h1 class="mun">JECRC INTRA MUN <span id="year">2018</span></h1>
      <h2 class="caption">Diplomacy At Its Zenith</h2>
      <!-- <p class="dates">8th September</p> -->
    </div>
    <div class="register_btn">
      <a href="/#apply" class="btn btn-default">Register</a></button>
    </div>
    <!-- do not change any id from here -->
    <div id="clockdiv" class="center-block">
      <!-- <div>
        <span id="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span id="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span id="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span id="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div> -->
      <h1 id="nextmessage">Intra MUN Comming Soon ..</h1>
    </div>
  </div>
</section>
