<section id="committee">
  <div class="container-fluid">
    <h1 id="comm_title">COMMITTEES</h1>
    <div class="flex-container">
      {% for ct in site.data.committees %}
      <div class="flex-element container wow animated bounceInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
        <img src="{{ ct.bgimg }}" alt="{{ ct.name }}" class="image">
        <div class="overlay">
          <div class="text {{ ct.class }}">
            <h2>{{ ct.name }}</h2>
            <br>
            <p>{{ ct.agenda }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- <a target="_blank" href="https://drive.google.com/drive/folders/1d90W9aUOpPy79a3_ljA3u6j5DIy-brmF?usp=sharing" class="btn btn-default">View Country Matrix</a> -->
    <!-- <a target="_blank" href="" class="btn btn-default">Background Guide</a> -->
  </div>
</section>
