<div class="usg_contact container-fluid">
	<span class="add_title">USG Delegate Affairs:</span><br>
	<!-- <span class="contact_no">Divyansh : <a href="tel:+91-7976296019"> +91-7976296019</a></span><br> -->
	<span class="contact_no">Utkarsha : <a href="tel:+91-8769733001"> +91-8769733001</a></span>
</div>
<section id="mailus">
	<div class="container-fluid">
		<h1 id="title_contact">Contact Us</h1>
		<div class="col-md-8 form">
			<form id="contact" method="POST" action="https://script.google.com/a/jecrc.ac.in/macros/s/AKfycby1ttxShbJQv1pLz_BBLGJbQifglGsVOXCQDLSHBeL7QvCi5epj/exec">
				<fieldset>
					<input placeholder="Your name" name="name" type="text" tabindex="1" id="name" required>
				</fieldset>
				<fieldset>
					<input placeholder="Your Email Address" name="email" type="email" tabindex="2" id="email" required>
				</fieldset>
				<fieldset>
					<input placeholder="Your Phone Number" name="phone" type="tel" tabindex="3" id="phone" required>
				</fieldset>
				<fieldset>
					<input placeholder="Subject" name="subject" type="text" tabindex="4" id="subject" required>
				</fieldset>
				<fieldset>
					<textarea placeholder="Type your message here...." name="message" tabindex="5" id="message" required></textarea>
				</fieldset>
				<fieldset>
					<button type="submit" id="contact_submit" data-submit="...Sending">Submit</button>
				</fieldset>
			</form>
			<div style="display:none;" id="thankyou_message">
				<h2 style="color:white;"><em>Thanks</em> for contacting us!
						              We will get back to you soon!</h2>
			</div>
		</div>
		<div class="col-md-4 ad">
			<div class="address">
				<span class="add_title">Address:</span><br>
				<p id="add">Shri Ram ki Nangal,<br>via Sitapura RIICO,<br>Tonk Road,Jaipur,<br>Rajasthan<br>302022</p>
			</div>
			<br>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.849758133174!2d75.81751071410719!3d26.781058683184494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dc9763e6030f1%3A0x4137675e5cf54360!2sJECRC+Foundation!5e0!3m2!1sen!2sin!4v1519447737581"
				  width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
</section>
