<footer>
  <div class="container-fluid">
    <div class="col-md-4 social_media">
      <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
        <i class="fa fa-facebook-official fa-3x icon"></i>
      </a>
      <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
        <i class="fa fa-instagram fa-3x icon"></i>
      </a>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        <i class="fa fa-twitter fa-3x icon"></i>
      </a>
    </div>
    <div class="col-md-8 develop">
      <p id="technical">
        <span id="tag">This site is maintained and developed by</span>
        <a href="https://www.linkedin.com/in/aditya81070/" target="_blank" id="link">Aditya Agarwal </a><span id="tag"> and</span>
        <a href="http://amritsrivastava.me" id="link" target="_blank">Amrit Srivastava</a>
      </p>
    </div>
  </div>
</footer>
