<section id="message">
  <div class="container-fluid">
    {%for grp in site.data.message%}
    <h1 id="mess_title">{{ grp.group }}</h1>
    {% for member in grp.members %}
    <div class="row">
      <div class="col-md-4">
        <img src="{{ member.photo }}" alt="{{ member.author }}" id="profile_img">
        <h1 id="author">{{ member.author }}</h1>
        <p id="desg">{{ member.designation }}</p>
      </div>
      <div class="col-md-8" id="msg_box">
        <p id="message">{{ member.message }}</p>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</section>
