<section id="secretariat">
  <div class="container-fluid">
    <h1 id="sec_title">SECRETARIAT</h1>
    <div class="flex-container">
      {% for sec in site.data.secretariat %}
      <div class="flex-element">
        <div class="sec-image">
          <img src="{{ sec.profile_pic }}" alt="{{ sec.name }}">
        </div>

        <h1 class="sec-name">{{ sec.name }}</h1>
        <p class="sec-des">{{ sec.des }}</p>
        <a class="contact" href="tel: {{ sec.contact }}">{{ sec.contact }}</p>
  <a href="mailto:{{ sec.email }}" class="email"><i class="fa fa-envelope"></i> {{ sec.email }} <br>
  {% if sec.facebook_username %} <a href="https://facebook.com/{{ sec.facebook_username }}/" target="_blank"> <i class="fa fa-facebook-official fa-2x icon"></i></a>{% endif %} {% if sec.twitter_username %} <a href="https://twitter.com/{{ sec.twitter_username }}/"
          target="_blank"> <i class="fa fa-twitter-square fa-2x icon"></i></a>{% endif %} {% if sec.linkedin_username %} <a href="https://linkedin.com/in/{{ sec.linkedin_username }}/" target="_blank"><i class="fa fa-linkedin-square fa-2x icon"></i></a>{%
        endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
